@charset "UTF-8";

@keyframes mover {
    0% {
      left: 0;
    }
    50% {
      left: 200px;
    }
    100% {
      left: 0;
    }
  }
  .caixa {
    animation: mover 3s infinite;
  }

html{
    overflow-y:hidden;
    overflow-x:hidden;
    }
body {
    background: linear-gradient(to bottom, white, rgb(0, 132, 255)) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

input#answer {
    margin: auto;
    display: block;
    height: 90px;
    width: 304px;
    border: 2px black solid;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(0, 0, 0);
    
}

div#question {
    color: black;
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    text-align: center;
}

div#result {
    color: black;
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    text-align: center;
}


#question {
    font-family: 'Luckiest Guy', cursive;
    color: black;
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
}

#result {
    font-family: 'Luckiest Guy', cursive;
    color: black;
    margin-top: 10px;
    text-align: center;
}

button#isubmit {
    text-align: center;
    margin: auto;
    display: block; 
    height: 90px;
    width: 312px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}

button#istart {
    text-align: center;
    margin: auto;
    display: block;
    height: 90px;
    width: 312px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}

button#irestart {
    text-align: center;
    margin: auto;
    display: block;
    height: 90px;
    width: 312px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}